<a href="https://colab.research.google.com/github/lugastyan/ML-portofolio/blob/main/rekomendation_system_versi_berdasarkan_produk_perusahaan_dsb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# library

In [ ]:
!pip install rake_nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: rake_nltk in /usr/local/lib/python3.10/dist-packages (1.0.6)
Requirement already satisfied: nltk<4.0.0,>=3.6.2 in /usr/local/lib/python3.10/dist-packages (from rake_nltk) (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (4.65.0)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

import rake_nltk
from rake_nltk import Rake
import nltk
nltk.download('stopwords')
nltk.download('punkt')

from bs4 import BeautifulSoup #untuk perHTMLan

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

# Load dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/PINA dataset/semua_versi_4___edwin_2023-05-10T04_25_24.475027Z.csv')

In [ ]:
df_user = pd.read_csv('/content/drive/MyDrive/PINA dataset/user_portfolio.csv')

In [ ]:
df_user.head()

,clientportfolioclientid,clientportfoliostockid,clientportfoliobalance,clientportfoliodate,date_rank_per_user
0,0000003,FIMP,19000000.0,2023-05-05,1
1,01OLK,BOLT,100.0,2023-05-05,1
2,3,CASH,47051800.0,2022-03-28,1
3,ADANGWAH107,TLKM,100.0,2023-05-05,1
4,ADIN99,TRIM,100.0,2023-05-05,1

In [ ]:
df_grouped = pd.DataFrame(df_user.groupby('clientportfolioclientid')['clientportfoliostockid'].agg(list))

In [ ]:
df_grouped = df_grouped.reset_index()

In [ ]:
df_grouped.head()

  clientportfolioclientid clientportfoliostockid
0                 0000003                 [FIMP]
1                   01OLK                 [BOLT]
2                       3                 [CASH]
3             ADANGWAH107                 [TLKM]
4                  ADIN99                 [TRIM]

In [ ]:
df_grouped.columns  = ['id','portofolio']

In [ ]:
df_grouped.head()

            id portofolio
0      0000003     [FIMP]
1        01OLK     [BOLT]
2            3     [CASH]
3  ADANGWAH107     [TLKM]
4       ADIN99     [TRIM]

In [ ]:
df_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          555 non-null    object
 1   portofolio  555 non-null    object
dtypes: object(2)
memory usage: 8.8+ KB

In [ ]:
print(df_grouped['id'].nunique())

555

In [ ]:
df_user = df_grouped

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882
Data columns (total 54 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      883 non-null    object
 1   sector                   883 non-null    object
 2   idx                      883 non-null    object
 3   thematic                 883 non-null    object
 4   general_info             865 non-null    object
 5   business_product         669 non-null    object
 6   total_asset_growth       853 non-null    float64
 7   price_sales_ratio        845 non-null    float64
 8   sales_growth             834 non-null    float64
 9   quick_ratio              849 non-null    float64
 10  cost_of_goods_sold       853 non-null    float64
 11  cash_flow_per_share      850 non-null    float64
 12  net_income_growth        839 non-null    float64
 13  operating_profit         853 non-null    float64
 14  income_before_tax        853 non-null    float64
 15  total_assets             853 non-null    float64
 16  total_equity             853 non-null    float64
 17  total_liabilities        853 non-null    float64
 18  debt_to_equity_ratio     853 non-null    float64
 19  cash_equivalent          853 non-null    float64
 20  total_sales              853 non-null    float64
 21  operating_profit_margin  848 non-null    float64
 22  gross_profit_margin      848 non-null    float64
 23  net_profit_margin        848 non-null    float64
 24  net_income               853 non-null    float64
 25  market_cap               861 non-null    float64
 26  dailyReturn              861 non-null    float64
 27  monthlyReturn            861 non-null    float64
 28  annualReturn             861 non-null    float64
 29  threeYearReturn          861 non-null    float64
 30  fiveYearReturn           861 non-null    float64
 31  tenYearReturn            789 non-null    float64
 32  listedShare              863 non-null    float64
 33  tradableVolume           801 non-null    float64
 34  offerVolume              801 non-null    float64
 35  tradableValue            858 non-null    float64
 36  openPrice                863 non-null    float64
 37  closePrice               863 non-null    float64
 38  averagePrice             863 non-null    float64
 39  lastTradedPrice          863 non-null    float64
 40  lowTradedPrice           863 non-null    float64
 41  highTradedPrice          863 non-null    float64
 42  bidPrice                 749 non-null    float64
 43  offerPrice               801 non-null    float64
 44  book_value_per_share     853 non-null    float64
 45  eps                      778 non-null    float64
 46  pbv                      863 non-null    float64
 47  roa                      853 non-null    float64
 48  roe                      853 non-null    float64
 49  per                      787 non-null    float64
 50  description              669 non-null    object
 51  underwriter              669 non-null    object
 52  shareholders             669 non-null    object
 53  industry                 883 non-null    object
dtypes: float64(44), object(10)
memory usage: 372.6+ KB

In [ ]:
df_user

              id                                        portofolio
0        0000003                                            [FIMP]
1          01OLK                                            [BOLT]
2              3                                            [CASH]
3    ADANGWAH107                                            [TLKM]
4         ADIN99                                            [TRIM]
..           ...                                               ...
550   YOHANHAR19                                      [MTDL, SIDO]
551   YULISPRA20  [CMPP, WSKT, WIKA, KAEF, BRMS, BUKA, GOTO, PTPP]
552   YUSUFARI20                                      [SWID, NINE]
553   aldialha39                                [AMMS, ANTM, AVIA]
554   wukhimin56        [BSDE, ALDO, CSRA, SMRA, BBCA, ASSA, SMDR]

[555 rows x 2 columns]

# Missing Value

Missing value akan diisi dengan rata-rata.
Tidak dihapus karena data _id itu merupakan data semua saham di PINA

In [ ]:
df.isnull().sum() #cek yang NaNT

_id                          0
sector                       0
idx                          0
thematic                     0
general_info                18
business_product           214
total_asset_growth          30
price_sales_ratio           38
sales_growth                49
quick_ratio                 34
cost_of_goods_sold          30
cash_flow_per_share         33
net_income_growth           44
operating_profit            30
income_before_tax           30
total_assets                30
total_equity                30
total_liabilities           30
debt_to_equity_ratio        30
cash_equivalent             30
total_sales                 30
operating_profit_margin     35
gross_profit_margin         35
net_profit_margin           35
net_income                  30
market_cap                  22
dailyReturn                 22
monthlyReturn               22
annualReturn                22
threeYearReturn             22
fiveYearReturn              22
tenYearReturn               94
listedShare                 20
tradableVolume              82
offerVolume                 82
tradableValue               25
openPrice                   20
closePrice                  20
averagePrice                20
lastTradedPrice             20
lowTradedPrice              20
highTradedPrice             20
bidPrice                   134
offerPrice                  82
book_value_per_share        30
eps                        105
pbv                         20
roa                         30
roe                         30
per                         96
description                214
underwriter                214
shareholders               214
industry                     0
dtype: int64

In [ ]:
#mengisi NaN kolum general_info dengan string kosong
df['general_info'].fillna('', inplace=True)

In [ ]:
count = df['_id'].nunique()
print(count)

883

In [ ]:
df.fillna(df.mean(), inplace=True) #mengisi dengan nilai rata-rata

<ipython-input-233-9598921fdd30>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True) #mengisi dengan nilai rata-rata

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882
Data columns (total 54 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      883 non-null    object
 1   sector                   883 non-null    object
 2   idx                      883 non-null    object
 3   thematic                 883 non-null    object
 4   general_info             883 non-null    object
 5   business_product         669 non-null    object
 6   total_asset_growth       883 non-null    float64
 7   price_sales_ratio        883 non-null    float64
 8   sales_growth             883 non-null    float64
 9   quick_ratio              883 non-null    float64
 10  cost_of_goods_sold       883 non-null    float64
 11  cash_flow_per_share      883 non-null    float64
 12  net_income_growth        883 non-null    float64
 13  operating_profit         883 non-null    float64
 14  income_before_tax        883 non-null    float64
 15  total_assets             883 non-null    float64
 16  total_equity             883 non-null    float64
 17  total_liabilities        883 non-null    float64
 18  debt_to_equity_ratio     883 non-null    float64
 19  cash_equivalent          883 non-null    float64
 20  total_sales              883 non-null    float64
 21  operating_profit_margin  883 non-null    float64
 22  gross_profit_margin      883 non-null    float64
 23  net_profit_margin        883 non-null    float64
 24  net_income               883 non-null    float64
 25  market_cap               883 non-null    float64
 26  dailyReturn              883 non-null    float64
 27  monthlyReturn            883 non-null    float64
 28  annualReturn             883 non-null    float64
 29  threeYearReturn          883 non-null    float64
 30  fiveYearReturn           883 non-null    float64
 31  tenYearReturn            883 non-null    float64
 32  listedShare              883 non-null    float64
 33  tradableVolume           883 non-null    float64
 34  offerVolume              883 non-null    float64
 35  tradableValue            883 non-null    float64
 36  openPrice                883 non-null    float64
 37  closePrice               883 non-null    float64
 38  averagePrice             883 non-null    float64
 39  lastTradedPrice          883 non-null    float64
 40  lowTradedPrice           883 non-null    float64
 41  highTradedPrice          883 non-null    float64
 42  bidPrice                 883 non-null    float64
 43  offerPrice               883 non-null    float64
 44  book_value_per_share     883 non-null    float64
 45  eps                      883 non-null    float64
 46  pbv                      883 non-null    float64
 47  roa                      883 non-null    float64
 48  roe                      883 non-null    float64
 49  per                      883 non-null    float64
 50  description              669 non-null    object
 51  underwriter              669 non-null    object
 52  shareholders             669 non-null    object
 53  industry                 883 non-null    object
dtypes: float64(44), object(10)
memory usage: 372.6+ KB

In [ ]:
df.columns

Index(['_id', 'sector', 'idx', 'thematic', 'general_info', 'business_product',
       'total_asset_growth', 'price_sales_ratio', 'sales_growth',
       'quick_ratio', 'cost_of_goods_sold', 'cash_flow_per_share',
       'net_income_growth', 'operating_profit', 'income_before_tax',
       'total_assets', 'total_equity', 'total_liabilities',
       'debt_to_equity_ratio', 'cash_equivalent', 'total_sales',
       'operating_profit_margin', 'gross_profit_margin', 'net_profit_margin',
       'net_income', 'market_cap', 'dailyReturn', 'monthlyReturn',
       'annualReturn', 'threeYearReturn', 'fiveYearReturn', 'tenYearReturn',
       'listedShare', 'tradableVolume', 'offerVolume', 'tradableValue',
       'openPrice', 'closePrice', 'averagePrice', 'lastTradedPrice',
       'lowTradedPrice', 'highTradedPrice', 'bidPrice', 'offerPrice',
       'book_value_per_share', 'eps', 'pbv', 'roa', 'roe', 'per',
       'description', 'underwriter', 'shareholders', 'industry'],
      dtype='object')

In [ ]:
#yang NaN ini diisi sama ''
df[['business_product','description', 'underwriter', 'shareholders']] = df[['business_product','description', 'underwriter', 'shareholders']].fillna('')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882
Data columns (total 54 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      883 non-null    object
 1   sector                   883 non-null    object
 2   idx                      883 non-null    object
 3   thematic                 883 non-null    object
 4   general_info             883 non-null    object
 5   business_product         883 non-null    object
 6   total_asset_growth       883 non-null    float64
 7   price_sales_ratio        883 non-null    float64
 8   sales_growth             883 non-null    float64
 9   quick_ratio              883 non-null    float64
 10  cost_of_goods_sold       883 non-null    float64
 11  cash_flow_per_share      883 non-null    float64
 12  net_income_growth        883 non-null    float64
 13  operating_profit         883 non-null    float64
 14  income_before_tax        883 non-null    float64
 15  total_assets             883 non-null    float64
 16  total_equity             883 non-null    float64
 17  total_liabilities        883 non-null    float64
 18  debt_to_equity_ratio     883 non-null    float64
 19  cash_equivalent          883 non-null    float64
 20  total_sales              883 non-null    float64
 21  operating_profit_margin  883 non-null    float64
 22  gross_profit_margin      883 non-null    float64
 23  net_profit_margin        883 non-null    float64
 24  net_income               883 non-null    float64
 25  market_cap               883 non-null    float64
 26  dailyReturn              883 non-null    float64
 27  monthlyReturn            883 non-null    float64
 28  annualReturn             883 non-null    float64
 29  threeYearReturn          883 non-null    float64
 30  fiveYearReturn           883 non-null    float64
 31  tenYearReturn            883 non-null    float64
 32  listedShare              883 non-null    float64
 33  tradableVolume           883 non-null    float64
 34  offerVolume              883 non-null    float64
 35  tradableValue            883 non-null    float64
 36  openPrice                883 non-null    float64
 37  closePrice               883 non-null    float64
 38  averagePrice             883 non-null    float64
 39  lastTradedPrice          883 non-null    float64
 40  lowTradedPrice           883 non-null    float64
 41  highTradedPrice          883 non-null    float64
 42  bidPrice                 883 non-null    float64
 43  offerPrice               883 non-null    float64
 44  book_value_per_share     883 non-null    float64
 45  eps                      883 non-null    float64
 46  pbv                      883 non-null    float64
 47  roa                      883 non-null    float64
 48  roe                      883 non-null    float64
 49  per                      883 non-null    float64
 50  description              883 non-null    object
 51  underwriter              883 non-null    object
 52  shareholders             883 non-null    object
 53  industry                 883 non-null    object
dtypes: float64(44), object(10)
memory usage: 372.6+ KB

In [ ]:
df.columns

Index(['_id', 'sector', 'idx', 'thematic', 'general_info', 'business_product',
       'total_asset_growth', 'price_sales_ratio', 'sales_growth',
       'quick_ratio', 'cost_of_goods_sold', 'cash_flow_per_share',
       'net_income_growth', 'operating_profit', 'income_before_tax',
       'total_assets', 'total_equity', 'total_liabilities',
       'debt_to_equity_ratio', 'cash_equivalent', 'total_sales',
       'operating_profit_margin', 'gross_profit_margin', 'net_profit_margin',
       'net_income', 'market_cap', 'dailyReturn', 'monthlyReturn',
       'annualReturn', 'threeYearReturn', 'fiveYearReturn', 'tenYearReturn',
       'listedShare', 'tradableVolume', 'offerVolume', 'tradableValue',
       'openPrice', 'closePrice', 'averagePrice', 'lastTradedPrice',
       'lowTradedPrice', 'highTradedPrice', 'bidPrice', 'offerPrice',
       'book_value_per_share', 'eps', 'pbv', 'roa', 'roe', 'per',
       'description', 'underwriter', 'shareholders', 'industry'],
      dtype='object')

# Menghapus Kolum tidak penting

In [ ]:
#aku akan menghapus semua yang float karena ini versi menggunakan bacotan okay
columns_to_drop = ['total_asset_growth', 'price_sales_ratio', 'sales_growth',
       'quick_ratio', 'cost_of_goods_sold', 'cash_flow_per_share',
       'net_income_growth', 'operating_profit', 'income_before_tax',
       'total_assets', 'total_equity', 'total_liabilities',
       'debt_to_equity_ratio', 'cash_equivalent', 'total_sales',
       'operating_profit_margin', 'gross_profit_margin', 'net_profit_margin',
       'net_income', 'market_cap', 'dailyReturn', 'monthlyReturn',
       'annualReturn', 'threeYearReturn', 'fiveYearReturn', 'tenYearReturn',
       'listedShare', 'tradableVolume', 'offerVolume', 'tradableValue',
       'openPrice', 'closePrice', 'averagePrice', 'lastTradedPrice',
       'lowTradedPrice', 'highTradedPrice', 'bidPrice', 'offerPrice',
       'book_value_per_share', 'eps', 'pbv', 'roa', 'roe', 'per']
df = df.drop(columns=columns_to_drop)

In [ ]:
df.head()

,_id,sector,idx,thematic,general_info,business_product,description,underwriter,shareholders,industry
0,AALI,"[""Non-Siklikal""]","[""IDXSMC-LIQ"" ""JII70"" ""ESGQKEHATI"" ""IDX80"" ""IS...",[],PT Astra Agro Lestari Tbk (IDX: AALI) adalah a...,<p>Based&#32;on&#32;the&#32;Company&#39;s&#32;...,<p>Astra&#32;Agro&#32;Lestari&#44;&#32;PT&#32;...,"<table cellspacing=""0"" cellpadding=""0""><tbody>...","<table cellspacing=""0"" cellpadding=""0""><tbody>...",Produk Makanan Pertanian
1,ABBA,"[""Siklikal""]",[],[],PT Mahaka Media Tbk (IDX: ABBA) merupakan peru...,,,,,Media
2,ABDA,"[""Keuangan""]","[""IDXSMC-COM""]",[],PT Asuransi Bina Dana Arta Tbk (IDX: ABDA) mer...,<p>The&#32;Company&#32;is&#32;engaged&#32;in&#...,<p>PT&#32;Asuransi&#32;Bina&#32;Dana&#32;Arta&...,"<table cellspacing=""0"" cellpadding=""0""><tbody>...","<table cellspacing=""0"" cellpadding=""0""><tbody>...",Asuransi
3,ABMM,"[""Perindustrian""]","[""IDXSMC-COM"" ""KOMPAS100"" ""ISSI""]","[""Value Investing"" ""Komoditas Supercycle""]",PT ABM Investama Tbk (IDX: ABMM) merupakan emi...,<p>The&#32;Company&#39;s&#32;scope&#32;of&#32;...,<p>ABM&#32;Investama&#44;&#32;PT&#32;&#40;the&...,"<table cellspacing=""0"" cellpadding=""0""><tbody>...","<table cellspacing=""0"" cellpadding=""0""><tbody>...",Perusahaan Holding Multi-sektor
4,ACES,"[""Siklikal""]","[""IDXSMC-LIQ"" ""JII"" ""IDX80"" ""IDXQ30"" ""ISSI"" ""I...","[""Retailer Indonesia"" ""ESG Leaders""]",PT Ace Hardware Indonesia Tbk (IDX: ACES) adal...,<p>The&#32;Company&#39;s&#32;scope&#32;of&#32;...,<p>PT&#32;Ace&#32;Hardware&#32;Indonesia&#32;&...,"<table cellspacing=""0"" cellpadding=""0""><tbody>...","<table cellspacing=""0"" cellpadding=""0""><tbody>...",Ritel Khusus

In [ ]:
#ini dihapusin karena terlihat tidak penting, sudah dicek
columns_to_drop = ['idx','general_info','description','underwriter','shareholders']
df = df.drop(columns=columns_to_drop)

In [ ]:
df.head(1)

,_id,sector,thematic,business_product,industry
0,AALI,"[""Non-Siklikal""]",[],<p>Based&#32;on&#32;the&#32;Company&#39;s&#32;...,Produk Makanan Pertanian

# Pengolahan Lebih lanjut

In [ ]:
#menjadikan _id menjadi index
df.set_index('_id', inplace = True)
df.head()

,sector,thematic,business_product,industry
_id,,,,
AALI,"[""Non-Siklikal""]",[],<p>Based&#32;on&#32;the&#32;Company&#39;s&#32;...,Produk Makanan Pertanian
ABBA,"[""Siklikal""]",[],,Media
ABDA,"[""Keuangan""]",[],<p>The&#32;Company&#32;is&#32;engaged&#32;in&#...,Asuransi
ABMM,"[""Perindustrian""]","[""Value Investing"" ""Komoditas Supercycle""]",<p>The&#32;Company&#39;s&#32;scope&#32;of&#32;...,Perusahaan Holding Multi-sektor
ACES,"[""Siklikal""]","[""Retailer Indonesia"" ""ESG Leaders""]",<p>The&#32;Company&#39;s&#32;scope&#32;of&#32;...,Ritel Khusus

In [ ]:
#bacot ah HTML HTMLan, hapus, musnahkan
def html_to_string(html_code):
    soup = BeautifulSoup(html_code, 'html.parser')
    return soup.get_text()

In [ ]:
df['business_product'] = df['business_product'].apply(html_to_string)

In [ ]:
df.head()

,sector,thematic,business_product,industry
_id,,,,
AALI,"[""Non-Siklikal""]",[],Based on the Company's articles of association...,Produk Makanan Pertanian
ABBA,"[""Siklikal""]",[],,Media
ABDA,"[""Keuangan""]",[],The Company is engaged in general insurance bu...,Asuransi
ABMM,"[""Perindustrian""]","[""Value Investing"" ""Komoditas Supercycle""]",The Company's scope of activities are conducti...,Perusahaan Holding Multi-sektor
ACES,"[""Siklikal""]","[""Retailer Indonesia"" ""ESG Leaders""]",The Company's scope of activities consist of g...,Ritel Khusus

In [ ]:
df['business_product'][0]

"Based on the Company's articles of association, the scope of its activities is to engage in plantation operation, general trading, manufacturing, transportation, consultation and services."

In [ ]:
df.head(1)

,sector,thematic,business_product,industry
_id,,,,
AALI,"[""Non-Siklikal""]",[],Based on the Company's articles of association...,Produk Makanan Pertanian

## Mendapatkan keyword dari business product

In [ ]:
df['key_words_business_product'] = ''  # Menetapkan nilai awal untuk kolom 'key_words'

for index, row in df.iterrows():
    plot = row['business_product']
    r = Rake()
    r.extract_keywords_from_text(plot)
    key_words_dict_scores = r.get_word_degrees()
    df.at[index, 'key_words_business_product'] = list(key_words_dict_scores.keys())

# Sector dihilangkan simbol simbolnya

In [ ]:
df['sector'] = df['sector'].str.replace('[', '').str.replace('"', '').str.replace(']', '')
df.head()

<ipython-input-250-c1d3450769de>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['sector'] = df['sector'].str.replace('[', '').str.replace('"', '').str.replace(']', '')

,sector,thematic,business_product,industry,key_words_business_product
_id,,,,,
AALI,Non-Siklikal,[],Based on the Company's articles of association...,Produk Makanan Pertanian,"[based, company, articles, association, scope,..."
ABBA,Siklikal,[],,Media,[]
ABDA,Keuangan,[],The Company is engaged in general insurance bu...,Asuransi,"[company, engaged, general, insurance, busines..."
ABMM,Perindustrian,"[""Value Investing"" ""Komoditas Supercycle""]",The Company's scope of activities are conducti...,Perusahaan Holding Multi-sektor,"[company, scope, activities, conducting, busin..."
ACES,Siklikal,"[""Retailer Indonesia"" ""ESG Leaders""]",The Company's scope of activities consist of g...,Ritel Khusus,"[company, scope, activities, consist, general,..."

In [ ]:
df['sector'] = df['sector'].str.lower()

In [ ]:
df['sector'].unique()

array(['non-siklikal', 'siklikal', 'keuangan', 'perindustrian',
       'infrastruktur', 'properti', 'barang baku', 'energi',
       'transportasi', 'teknologi', '', 'kesehatan',
       'non-siklikal siklikal'], dtype=object)

In [ ]:
df['sector'] = df['sector'].map(lambda x:x.split(' '))
for index, row in df.iterrows():
  row['sector'] = ''.join(row['sector']).lower() #disatukan supaya dianggap satu hal

In [ ]:
df.head()

,sector,thematic,business_product,industry,key_words_business_product
_id,,,,,
AALI,non-siklikal,[],Based on the Company's articles of association...,Produk Makanan Pertanian,"[based, company, articles, association, scope,..."
ABBA,siklikal,[],,Media,[]
ABDA,keuangan,[],The Company is engaged in general insurance bu...,Asuransi,"[company, engaged, general, insurance, busines..."
ABMM,perindustrian,"[""Value Investing"" ""Komoditas Supercycle""]",The Company's scope of activities are conducti...,Perusahaan Holding Multi-sektor,"[company, scope, activities, conducting, busin..."
ACES,siklikal,"[""Retailer Indonesia"" ""ESG Leaders""]",The Company's scope of activities consist of g...,Ritel Khusus,"[company, scope, activities, consist, general,..."

In [ ]:
df['sector'][400]

'barangbaku'

In [ ]:
df['sector'] = df['sector'].map(lambda x : x.split(' '))

# Thematic menghilangkan simbol simbol

In [ ]:
df['thematic'] = df['thematic'].str.replace('[', '').str.replace('"', '').str.replace(']', '')

<ipython-input-257-8b033f66425a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['thematic'] = df['thematic'].str.replace('[', '').str.replace('"', '').str.replace(']', '')

In [ ]:
df['thematic'][400]

''

In [ ]:
empty_count = df['thematic'].value_counts()['']
print(empty_count)

746

In [ ]:
non_empty_count = df['thematic'].notna().sum()
print(non_empty_count)

883

In [ ]:
883 - 746

137

In [ ]:
df['thematic'].nunique()

49

In [ ]:
df['thematic'].unique()

array(['', 'Value Investing Komoditas Supercycle',
       'Retailer Indonesia ESG Leaders', 'Infrastruktur +62',
       'High Dividend', 'Komoditas Supercycle',
       'Komoditas Supercycle High Dividend Saham Syariah ', 'ESG Leaders',
       'Kecil Tapi Kuat!',
       'Saham Syariah  Komoditas Supercycle High Dividend',
       'Sektor Properti', 'Sektor Terbesar IHSG: BANKS! Terbesar di IDX',
       'High Dividend Terbesar di IDX', 'ESG Leaders Sektor Properti',
       'Technology for The Future', 'Saham Syariah ',
       'High Dividend ESG Leaders Sektor Terbesar IHSG: BANKS! Terbesar di IDX',
       'Sektor Terbesar IHSG: BANKS!',
       'Sektor Terbesar IHSG: BANKS! Value Investing', 'Indonesia Sehat',
       'Sektor Terbesar IHSG: BANKS! Saham Syariah ',
       'ESG Leaders Saham Syariah ',
       'Saham Syariah  Terbesar di IDX Komoditas Supercycle',
       'Indonesia FMCG', 'High Dividend Saham Syariah  Terbesar di IDX',
       'Terbesar di IDX Technology for The Future',
       'Terbesar di IDX Saham Syariah ', 'Retailer Indonesia',
       'Indonesia FMCG Terbesar di IDX Value Investing',
       'Value Investing',
       'High Dividend Indonesia FMCG ESG Leaders Terbesar di IDX',
       'Saham Syariah  Indonesia FMCG Terbesar di IDX',
       'Saham Syariah  Komoditas Supercycle',
       'High Dividend Indonesia FMCG Saham Syariah  Value Investing',
       'Komoditas Supercycle High Dividend',
       'ESG Leaders Infrastruktur +62',
       'Saham Syariah  Indonesia Sehat High Dividend',
       'ESG Leaders Retailer Indonesia', 'ESG Leaders Indonesia Sehat',
       'Kecil Tapi Kuat! Saham Syariah ',
       'Technology for The Future Value Investing',
       'Indonesia FMCG Retailer Indonesia',
       'Indonesia Sehat Value Investing',
       'ESG Leaders Retailer Indonesia Indonesia FMCG',
       'High Dividend ESG Leaders Terbesar di IDX Saham Syariah ',
       'High Dividend ESG Leaders', 'Saham Syariah  Terbesar di IDX',
       'Saham Syariah  Terbesar di IDX Komoditas Supercycle High Dividend',
       'Indonesia FMCG Saham Syariah  Terbesar di IDX ESG Leaders High Dividend'],
      dtype=object)

***Sepertinya thematic tidak terkait dengan produk perusahaan jadi hapus aja***

In [ ]:
columns_to_drop = ['thematic']
df = df.drop(columns=columns_to_drop)

In [ ]:
#thmeatic dihapus saja

In [ ]:
df.head()

,sector,industry,key_words_business_product
_id,,,
AALI,[non-siklikal],[produkmakananpertanian],"[based, company, articles, association, scope,..."
ABBA,[siklikal],[media],[]
ABDA,[keuangan],[asuransi],"[company, engaged, general, insurance, busines..."
ABMM,[perindustrian],[perusahaanholdingmulti-sektor],"[company, scope, activities, conducting, busin..."
ACES,[siklikal],[ritelkhusus],"[company, scope, activities, consist, general,..."

# Industri mau diapain nih

In [ ]:
df['industry'].nunique()

59

In [ ]:
df['industry'].unique()

array(['Produk Makanan Pertanian', 'Media', 'Asuransi',
       'Perusahaan Holding Multi-sektor', 'Ritel Khusus',
       'Konstruksi Bangunan', 'Pengelola & Pengembang Real Estat',
       'Minuman', 'Pembiayaan Konsumen', 'Barang Kimia', 'Batu Bara',
       'Bank', 'Makanan Olahan', 'Pariwisata & Rekreasi', 'Minyak & Gas',
       'Logistik & Pengantaran', 'Wadah & Kemasan', 'Logam & Mineral',
       'Produk & Perlengkapan Bangunan', 'Machinery', 'Jasa Investasi',
       'Perdagangan Ritel Barang Primer',
       'Pendukung Minyak, Gas & Batu Bara',
       'Perusahaan Holding & Investasi', 'Pakaian & Barang Mewah',
       'Utilitas Listrik', 'Jasa Komersial',
       'Pengangkutan Darat Penumpang', 'Jasa & Konsultan TI',
       'Komponen Otomotif', 'Aplikasi & Jasa Internet',
       'Perangkat Komputer', 'Material Konstruksi',
       'Jasa Telekomunikasi Nirkabel',
       'Peralatan Olah Raga & Barang Hobi', 'Pendidikan & Jasa Penunjang',
       'Penyedia Jasa Kesehatan', 'Operator Infrastruktur Transportasi',
       'Barang Rumah Tangga', 'Kelistrikan', 'Maskapai Penerbangan',
       'Perhutanan & Kertas', 'Farmasi', 'Bahan Bakar Alternatif',
       'Produk Perawatan Tubuh', 'Hiburan & Film', 'Rokok',
       'Perangkat, Instrumen & Komponen Elektronik', 'Utilitas Gas',
       'Peralatan & Perlengkapan Kesehatan', 'Jasa Profesional',
       'Peralatan Jaringan', 'Perangkat Lunak', 'Jasa Telekomunikasi',
       'Peralatan Energi Alternatif', 'Department Store',
       'Distributor Barang Konsumen', 'Produk Keperluan Rumah Tangga',
       'Perdagangan Aneka Barang Perindustrian'], dtype=object)

In [ ]:
empty_count = df['industry'].value_counts()['Pendukung Minyak, Gas & Batu Bara']
print(empty_count)

17

In [ ]:
df['industry'] = df['industry'].map(lambda x:x.split(' '))
for index, row in df.iterrows():
  row['industry'] = ''.join(row['industry']).lower() #disatukan supaya diperlakukan sebagai satu objek

In [ ]:
df['industry'] = df['industry'].map(lambda x : x.split(' '))

In [ ]:
df['industry']

_id
AALI           [produkmakananpertanian]
ABBA                            [media]
ABDA                         [asuransi]
ABMM    [perusahaanholdingmulti-sektor]
ACES                      [ritelkhusus]
                     ...
ZATA    [perusahaanholdingmulti-sektor]
ZBRA                      [utilitasgas]
ZINC                    [logam&mineral]
ZONE                      [ritelkhusus]
ZYRX                [perangkatkomputer]
Name: industry, Length: 883, dtype: object

In [ ]:
df.head(1)

,sector,thematic,business_product,industry,key_words_business_product
_id,,,,,
AALI,[non-siklikal],,Based on the Company's articles of association...,[produkmakananpertanian],"[based, company, articles, association, scope,..."

## Menghapus business_product

In [ ]:
#businessproduct dihapus karena sudah ada key_word_business_product
columns_to_drop = ['business_product']
df = df.drop(columns=columns_to_drop)

In [ ]:
df.head()

,sector,industry,key_words_business_product
_id,,,
AALI,[non-siklikal],[produkmakananpertanian],"[based, company, articles, association, scope,..."
ABBA,[siklikal],[media],[]
ABDA,[keuangan],[asuransi],"[company, engaged, general, insurance, busines..."
ABMM,[perindustrian],[perusahaanholdingmulti-sektor],"[company, scope, activities, conducting, busin..."
ACES,[siklikal],[ritelkhusus],"[company, scope, activities, consist, general,..."

# Bag_of_words (kumpulkan semua kata)

In [ ]:
df['bag_of_words'] = ''
columns = df.columns
for index, row in df.iterrows():
  words= ''
  for col in columns:
      words = words + ' '.join(row[col]) + ' '

  row['bag_of_words'] = words

In [ ]:
df.head(3)

,sector,industry,key_words_business_product,bag_of_words
_id,,,,
AALI,[non-siklikal],[produkmakananpertanian],"[based, company, articles, association, scope,...",non-siklikal produkmakananpertanian based comp...
ABBA,[siklikal],[media],[],siklikal media
ABDA,[keuangan],[asuransi],"[company, engaged, general, insurance, busines...",keuangan asuransi company engaged general insu...

In [ ]:
df['bag_of_words'][400]

'barangbaku wadah&kemasan company scope activities plastic sheets industry trading imports  '

In [ ]:
df.iloc[400]

sector                                                             [barangbaku]
industry                                                        [wadah&kemasan]
key_words_business_product    [company, scope, activities, plastic, sheets, ...
bag_of_words                  barangbaku wadah&kemasan company scope activit...
Name: IPOL, dtype: object

## Menghapus double spase

In [ ]:
df['bag_of_words'] = df['bag_of_words'].str.replace(r'\s\s', ' ')

<ipython-input-284-df9588f9567a>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['bag_of_words'] = df['bag_of_words'].str.replace(r'\s\s', ' ')

In [ ]:
#mengecek ada berapa baris yang mengandung double space
df['bag_of_words'].str.contains(r'\s\s').sum()

0

## Menghapus spase yang ada di belakang kalimat

In [ ]:
#menghapus karakter spasi diakhir kaliamt
df['bag_of_words'] = df['bag_of_words'].str.rstrip()

## Menghapus karakter khusus

In [ ]:
#menghilangkan karakter khusus
df['bag_of_words'] = df['bag_of_words'].str.replace('[^\w\s]', '', regex=True)

In [ ]:
df.head(1)

,sector,industry,key_words_business_product,bag_of_words
_id,,,,
AALI,[non-siklikal],[produkmakananpertanian],"[based, company, articles, association, scope,...",nonsiklikal produkmakananpertanian based compa...

## Hapus sektor dan **kew_word_business_product**

In [ ]:
df

,sector,industry,key_words_business_product,bag_of_words
_id,,,,
AALI,[non-siklikal],[produkmakananpertanian],"[based, company, articles, association, scope,...",nonsiklikal produkmakananpertanian based compa...
ABBA,[siklikal],[media],[],siklikal media
ABDA,[keuangan],[asuransi],"[company, engaged, general, insurance, busines...",keuangan asuransi company engaged general insu...
ABMM,[perindustrian],[perusahaanholdingmulti-sektor],"[company, scope, activities, conducting, busin...",perindustrian perusahaanholdingmultisektor com...
ACES,[siklikal],[ritelkhusus],"[company, scope, activities, consist, general,...",siklikal ritelkhusus company scope activities ...
...,...,...,...,...
ZATA,[perindustrian],[perusahaanholdingmulti-sektor],[],perindustrian perusahaanholdingmultisektor
ZBRA,[infrastruktur],[utilitasgas],"[scope, activities, company, mainly, engage, p...",infrastruktur utilitasgas scope activities com...
ZINC,[barangbaku],[logam&mineral],"[pt, kapuas, prima, coal, tbk, company, conduc...",barangbaku logammineral pt kapuas prima coal t...
ZONE,[siklikal],[ritelkhusus],"[company, operates, business, group, engaged, ...",siklikal ritelkhusus company operates business...
ZYRX,[teknologi],[perangkatkomputer],"[company, â€™, scope, activities, comprise, manu...",teknologi perangkatkomputer company scope act...

In [ ]:
df = df.drop(columns=['industry','key_words_business_product'])

In [ ]:
df = df.drop(columns=['sector'])

In [ ]:
df.head()

                                           bag_of_words
_id
AALI  nonsiklikal produkmakananpertanian based compa...
ABBA                                     siklikal media
ABDA  keuangan asuransi company engaged general insu...
ABMM  perindustrian perusahaanholdingmultisektor com...
ACES  siklikal ritelkhusus company scope activities ...

# CountVectorize

In [ ]:
count = CountVectorizer()
count_matrix = count.fit_transform(df['bag_of_words'])

In [ ]:
count_matrix

<883x2742 sparse matrix of type '<class 'numpy.int64'>'
	with 13412 stored elements in Compressed Sparse Row format>

In [ ]:
c = count_matrix.todense()
c

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 1, 1, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
print(count_matrix[0,:])

  (0, 1650)	1
  (0, 1975)	1
  (0, 274)	1
  (0, 568)	1
  (0, 217)	1
  (0, 236)	1
  (0, 2202)	1
  (0, 93)	1
  (0, 862)	1
  (0, 1868)	1
  (0, 1708)	1
  (0, 1093)	1
  (0, 2551)	1
  (0, 1499)	1
  (0, 2569)	1
  (0, 624)	1
  (0, 2238)	1

# Menghitung nilai cosine similarity

In [ ]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1.        , 0.        , 0.13453456, ..., 0.0951303 , 0.06726728,
        0.2300895 ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.09805807,
        0.        ],
       [0.13453456, 0.        , 1.        , ..., 0.10878566, 0.11538462,
        0.0877058 ],
       ...,
       [0.0951303 , 0.        , 0.10878566, ..., 1.        , 0.10878566,
        0.12403473],
       [0.06726728, 0.09805807, 0.11538462, ..., 0.10878566, 1.        ,
        0.0877058 ],
       [0.2300895 , 0.        , 0.0877058 , ..., 0.12403473, 0.0877058 ,
        1.        ]])

# Membuat rekomendasi

In [ ]:
indices = pd.Series(df.index)
indices

0      AALI
1      ABBA
2      ABDA
3      ABMM
4      ACES
       ...
878    ZATA
879    ZBRA
880    ZINC
881    ZONE
882    ZYRX
Name: _id, Length: 883, dtype: object

In [ ]:
df.index[400]

'IPOL'

In [ ]:
def recomendations(id, cosine_sim = cosine_sim):
  recomended_stock= []
  idx = indices[indices == id].index[0]

  score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

  top_10_indexes = list(score_series.iloc[1:11].index)

  print(top_10_indexes)

  for i in top_10_indexes:
    recomended_stock.append(list(df.index)[i])

  return recomended_stock

# Menjalankan rekomendasi

In [ ]:
recomendations('IPOL')

[155, 739, 876, 42, 369, 762, 375, 755, 281, 737]

['BRNA',
 'SMKL',
 'YPAS',
 'APLI',
 'IIKP',
 'SRSN',
 'IMPC',
 'SPMA',
 'ESIP',
 'SMGR']

In [ ]:
df['bag_of_words'].loc['IPOL']

'barangbaku wadahkemasan company scope activities plastic sheets industry trading imports'

In [ ]:
df['bag_of_words'].loc['BRNA']

'barangbaku wadahkemasan scope company activities mainly engage plastic industry industries use fiberglass main materials'

In [ ]:
df['bag_of_words'].loc['SMKL']

'barangbaku wadahkemasan scope company activities currently covers field paper packaging industry'

In [ ]:
df['bag_of_words'].loc['YPAS']

'barangbaku wadahkemasan company scope activities mainly comprises manufacturing plastic bags relatedproducts'

In [ ]:
df['bag_of_words'].loc['APLI']

'barangbaku barangkimia company scope activities comprises manufacturing trading industrial plastic sheets polyvinyl chloride pvc synthetic leather'

In [ ]:
df['bag_of_words'].loc['IIKP']

'siklikal peralatanolahragabaranghobi company scope activities fishing trading industry plantation'

In [ ]:
df['bag_of_words'].loc['SRSN']

'barangbaku barangkimia company  scope activities comprise garment industry basic chemicals plastic packaging export import trading industries currently engage'

In [ ]:
df['bag_of_words'].loc['IMPC']

'perindustrian produkperlengkapanbangunan scope company activities engage industry trading financial institutions'

In [ ]:
df['bag_of_words'].loc['SPMA']

'barangbaku wadahkemasan company scope activities comprise manufacture paper related products'

In [ ]:
df['bag_of_words'].loc['ESIP']

'barangbaku wadahkemasan business activities company engaged manufacturing plastics packaging plastic goods industry large scale rubber trading trade products various kinds'

In [ ]:
df['bag_of_words'].loc['SMGR']

'barangbaku materialkonstruksi scope activities company accordance articles association engage thecement industry'

# Sekarang mari coba pakai memakai protofolio user

In [ ]:
df_user

In [ ]:
#menjadikan id menjadi index
df_user.set_index('id', inplace = True)
df_user.head()

In [ ]:
#gunakan ini untuk tahu ide user ada apa saja
print(df_user.to_string())

## Masukkan id user disini

In [ ]:
# Membuat fungsi untuk memanggil nama portofolio berdasarkan ID
def get_portofolio_name(id):
    try:
        portofolio = df_user.loc[id, 'portofolio']
        return portofolio if isinstance(portofolio, list) else portofolio
    except KeyError:
        return 'ID tidak ditemukan'

# Menggunakan fungsi untuk memanggil nama portofolio
id = input("Masukkan ID: ")
nama_portofolio = get_portofolio_name(id)
print("Nama portofolio:", nama_portofolio)

Masukkan ID: RISMIBAN70
Nama portofolio: ['DMAS', 'GMFI', 'CFIN']

In [ ]:
len(nama_portofolio)

3

In [ ]:
df_portofolio_user = df.loc[nama_portofolio]
df_portofolio_user

                                           bag_of_words
_id
DMAS  properti pengelolapengembangrealestat currentl...
GMFI  infrastruktur operatorinfrastrukturtransportas...
CFIN  keuangan pembiayaankonsumen company main activ...

In [ ]:
bag_of_words_dari_portofolio_usser = ' '.join(df_portofolio_user['bag_of_words'].tolist())

In [ ]:
bag_of_words_dari_portofolio_usser

'properti pengelolapengembangrealestat currently company engages development industrial area supported thedevelopment houses commercial infrastruktur operatorinfrastrukturtransportasi scope company activities field aircraft maintenance services components calibration engine industrial manufacturing supporting facilities engineering material logistics warehousing consignment well consulting training provision experts component keuangan pembiayaankonsumen company main activities cover investment financing working capital multifunction'

In [ ]:
from nltk.tokenize import word_tokenize
tokens = word_tokenize(bag_of_words_dari_portofolio_usser)

In [ ]:
# Menghitung frekuensi kemunculan kata-kata dari bag_of_words_dari_portofolio_usse karena sepertinya kebanyakan bacot diatas itu
from collections import Counter

word_freq = Counter(tokens)

In [ ]:
# Mengambil kata-kata inti (kata-kata dengan frekuensi tertinggi)
key_words_portofolio_user = [word for word, freq in word_freq.most_common(20)]
key_words_portofolio_user

['company',
 'industrial',
 'activities',
 'properti',
 'pengelolapengembangrealestat',
 'currently',
 'engages',
 'development',
 'area',
 'supported',
 'thedevelopment',
 'houses',
 'commercial',
 'infrastruktur',
 'operatorinfrastrukturtransportasi',
 'scope',
 'field',
 'aircraft',
 'maintenance',
 'services']

In [ ]:
key_words_portofolio_user_result = ' '.join(key_words_portofolio_user)

In [ ]:
type(key_words_portofolio_user_result)

str

In [ ]:
key_words_portofolio_user_result

'company industrial activities properti pengelolapengembangrealestat currently engages development area supported thedevelopment houses commercial infrastruktur operatorinfrastrukturtransportasi scope field aircraft maintenance services'

In [ ]:
df.tail()

                                                      bag_of_words
_id
ZBRA             infrastruktur utilitasgas scope activities com...
ZINC             barangbaku logammineral pt kapuas prima coal t...
ZONE             siklikal ritelkhusus company operates business...
ZYRX             teknologi perangkatkomputer company  scope act...
portofolio_user  keuangan jasainvestasi equity capital markets1...

In [ ]:
#jadi portofolio user akan dijadikan satu dan diumpamakan sebagai saham yang tersendiri
new_row = {'bag_of_words': key_words_portofolio_user_result}
df.loc['portofolio_user'] = new_row

In [ ]:
df.tail()
#misalkan ada saham namanya portofolio_user

                                                      bag_of_words
_id
ZBRA             infrastruktur utilitasgas scope activities com...
ZINC             barangbaku logammineral pt kapuas prima coal t...
ZONE             siklikal ritelkhusus company operates business...
ZYRX             teknologi perangkatkomputer company  scope act...
portofolio_user  company industrial activities properti pengelo...

## Membuat cosine similarity untuk cara ini

In [ ]:
count_matrix_2 = count.fit_transform(df['bag_of_words'])

In [ ]:
cosine_sim_2 = cosine_similarity(count_matrix_2, count_matrix_2)
cosine_sim_2

array([[1.        , 0.        , 0.13453456, ..., 0.06726728, 0.2300895 ,
        0.21693046],
       [0.        , 1.        , 0.        , ..., 0.09805807, 0.        ,
        0.        ],
       [0.13453456, 0.        , 1.        , ..., 0.11538462, 0.0877058 ,
        0.06201737],
       ...,
       [0.06726728, 0.09805807, 0.11538462, ..., 1.        , 0.0877058 ,
        0.06201737],
       [0.2300895 , 0.        , 0.0877058 , ..., 0.0877058 , 1.        ,
        0.21213203],
       [0.21693046, 0.        , 0.06201737, ..., 0.06201737, 0.21213203,
        1.        ]])

In [ ]:
indices = pd.Series(df.index)
indices

0                 AALI
1                 ABBA
2                 ABDA
3                 ABMM
4                 ACES
            ...
879               ZBRA
880               ZINC
881               ZONE
882               ZYRX
883    portofolio_user
Name: _id, Length: 884, dtype: object

## Ini adalah hasil rekomendasinya

In [ ]:
recomended_stock= []
idx = indices[indices == 'portofolio_user'].index[0]
score_series = pd.Series(cosine_sim_2[idx]).sort_values(ascending = False)

top_10_indexes = list(score_series.iloc[1:11].index)

print(top_10_indexes)

for i in top_10_indexes:
   recomended_stock.append(list(df.index)[i])

print(recomended_stock)

[245, 382, 459, 320, 640, 307, 115, 270, 482, 67]
['DMAS', 'INDO', 'KOTA', 'GMFI', 'POLL', 'GAMA', 'BIKA', 'ELTY', 'LPCK', 'ATAP']

## mari kita cek hasil rekomendasinya

In [ ]:
df.loc['DMAS']['bag_of_words']

'properti pengelolapengembangrealestat currently company engages development industrial area supported thedevelopment houses commercial'

In [ ]:
df.loc['INDO']['bag_of_words']

'properti pengelolapengembangrealestat scope company activities field real estate'

In [ ]:
df.loc['KOTA']['bag_of_words']

'properti pengelolapengembangrealestat company  scope activities among others engage development real estate services trading'

In [ ]:
df.loc['GMFI']['bag_of_words']

'infrastruktur operatorinfrastrukturtransportasi scope company activities field aircraft maintenance services components calibration engine industrial manufacturing supporting facilities engineering material logistics warehousing consignment well consulting training provision experts component'

In [ ]:
df.loc['POLL']['bag_of_words']

'properti pengelolapengembangrealestat scope company activities move field implement plan oversee general development work construction installation residential areas business service sector running property management rental agent consultant operation maintenance real estate area operations industrial hotel services'

# MLFLow

In [ ]:
pip install mlflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mlflow
  Downloading mlflow-2.4.1-py3-none-any.whl (18.1 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 18.1/18.1 MB 32.8 MB/s eta 0:00:00
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (8.1.3)
Requirement already satisfied: cloudpickle<3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.2.1)
Collecting databricks-cli<1,>=0.8.7 (from mlflow)
  Downloading databricks-cli-0.17.7.tar.gz (83 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 83.5/83.5 kB 10.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: entrypoints<1 in /usr/local/lib/python3.10/dist-packages (from mlflow) (0.4)
Collecting gitpython<4,>=2.1.0 (from mlflow)
  Downloading GitPython-3.1.31-py3-none-any.whl (184 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 184.3/184.3 kB 16.0 MB/s eta 0:00:00
Requirement already satisfied: pyyaml<7,>=5.1 in /usr/local/lib/python3.10/dist-packages (from mlflow) (6.0)
Requirement already satisfied: protobuf<5,>=3.12.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.20.3)
Requirement already satisfied: pytz<2024 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2022.7.1)
Requirement already satisfied: requests<3,>=2.17.3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.27.1)
Requirement already satisfied: packaging<24 in /usr/local/lib/python3.10/dist-packages (from mlflow) (23.1)
Collecting importlib-metadata!=4.7.0,<7,>=3.7.0 (from mlflow)
  Downloading importlib_metadata-6.6.0-py3-none-any.whl (22 kB)
Requirement already satisfied: sqlparse<1,>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (0.4.4)
Collecting alembic!=1.10.0,<2 (from mlflow)
  Downloading alembic-1.11.1-py3-none-any.whl (224 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 224.5/224.5 kB 17.1 MB/s eta 0:00:00
Collecting docker<7,>=4.0.0 (from mlflow)
  Downloading docker-6.1.3-py3-none-any.whl (148 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 148.1/148.1 kB 13.3 MB/s eta 0:00:00
Requirement already satisfied: Flask<3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.2.4)
Requirement already satisfied: numpy<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.22.4)
Requirement already satisfied: scipy<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.10.1)
Requirement already satisfied: pandas<3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.5.3)
Collecting querystring-parser<2 (from mlflow)
  Downloading querystring_parser-1.2.4-py2.py3-none-any.whl (7.9 kB)
Requirement already satisfied: sqlalchemy<3,>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.0.10)
Requirement already satisfied: scikit-learn<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.2.2)
Requirement already satisfied: pyarrow<13,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (9.0.0)
Requirement already satisfied: markdown<4,>=3.3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.4.3)
Requirement already satisfied: matplotlib<4 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.7.1)
Collecting gunicorn<21 (from mlflow)
  Downloading gunicorn-20.1.0-py3-none-any.whl (79 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 79.5/79.5 kB 10.0 MB/s eta 0:00:00
Requirement already satisfied: Jinja2<4,>=2.11 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.1.2)
Collecting Mako (from alembic!=1.10.0,<2->mlflow)
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 78.7/78.7 kB 3.9 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.10/dist-packages (from alembic!=1.10.0,<2->mlflow) (4.5.0)
Collecting pyjwt>=1.7.0 (from databricks-cli<1,>=0.8.7->mlflow)
  Downloading PyJWT-2.7.0-py3-none-any.whl (22 kB)
Requirement already satisfied: oauthlib>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (3.2.2)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.10/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (0.8.10)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.10/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (1.16.0)
Requirement already satisfied: urllib3<2.0.0,>=1.26.7 in /usr/local/lib/python3.10/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (1.26.15)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.10/dist-packages (from docker<7,>=4.0.0->mlflow) (1.5.1)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask<3->mlflow) (2.3.0)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask<3->mlflow) (2.1.2)
Collecting gitdb<5,>=4.0.1 (from gitpython<4,>=2.1.0->mlflow)
  Downloading gitdb-4.0.10-py3-none-any.whl (62 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 62.7/62.7 kB 7.4 MB/s eta 0:00:00
Requirement already satisfied: setuptools>=3.0 in /usr/local/lib/python3.10/dist-packages (from gunicorn<21->mlflow) (67.7.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata!=4.7.0,<7,>=3.7.0->mlflow) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2<4,>=2.11->mlflow) (2.1.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.17.3->mlflow) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.17.3->mlflow) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.17.3->mlflow) (3.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2->mlflow) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2->mlflow) (3.1.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<3,>=1.4.0->mlflow) (2.0.2)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython<4,>=2.1.0->mlflow)
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Building wheels for collected packages: databricks-cli
  Building wheel for databricks-cli (setup.py) ... done
  Created wheel for databricks-cli: filename=databricks_cli-0.17.7-py3-none-any.whl size=143860 sha256=9e242226848f4f86b4b5d93a900ef5ddbf8011616c57a5c058f1c049b0fadfae
  Stored in directory: /root/.cache/pip/wheels/ae/63/93/5402c1a09c1868a59d0b05013484e07af97a9d7b3dbd5bd39a
Successfully built databricks-cli
Installing collected packages: smmap, querystring-parser, pyjwt, Mako, importlib-metadata, gunicorn, gitdb, docker, databricks-cli, alembic, gitpython, mlflow
Successfully installed Mako-1.2.4 alembic-1.11.1 databricks-cli-0.17.7 docker-6.1.3 gitdb-4.0.10 gitpython-3.1.31 gunicorn-20.1.0 importlib-metadata-6.6.0 mlflow-2.4.1 pyjwt-2.7.0 querystring-parser-1.2.4 smmap-5.0.0