<a href="https://colab.research.google.com/github/lugastyan/ML-portofolio/blob/main/Task_bareng_ismail_Naive_Bayes_untuk_klasifikasi_transaksi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Library

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from gensim.models import Word2Vec

In [ ]:
import gensim

# Import Dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/task bareng ismail/data_transactions.csv')

In [ ]:
df.head(5) #keterangan : apabila maupakai CBOW maka bentuknya harus liat of word ( ada tanda '[ ]')

                                         description bank_name  category
0   BRIVA1236213604191425NBMBTikTok Shop BRIVA  1...       BRI  Shopping
1   BRIVA8000817455611NBMBBukalapak an radit BRIV...       BRI  Shopping
2   BRIVA80888089620960434NBMBTOPTokopediaRi BRIV...       BRI  Shopping
3   BRIVA88099088296259128NBMBOVO BRIVA 880990882...     BRImo    Top Up
4   BRIVA88810895635976213NBMBDNID BINXXXX P BRIV...       BRI    Top Up

In [ ]:
df.to_csv('lihat.csv', index=False)

In [ ]:
df.description[100]

'DB DEBIT DOMESTIK TANGGAL :01/02 TRN DEBIT DOM 022 COFFEE CLUB-PS 5260512022037574'

In [ ]:
df.category[100]

In [ ]:
df.description = df.description.apply(gensim.utils.simple_preprocess)

In [ ]:
df.description[100]

['db',
 'debit',
 'domestik',
 'tanggal',
 'trn',
 'debit',
 'dom',
 'coffee',
 'club',
 'ps']

In [ ]:
df.head()

                                         description bank_name  category
0  [briva, nbmbtiktok, shop, briva, nbmbtiktok, s...       BRI  Shopping
1  [briva, nbmbbukalapak, an, radit, briva, nbmbb...       BRI  Shopping
2                          [briva, briva, esb, nbmb]       BRI  Shopping
3        [briva, nbmbovo, briva, nbmbovo, esb, nbmb]     BRImo    Top Up
4  [briva, nbmbdnid, binxxxx, briva, nbmbdnid, bi...       BRI    Top Up

In [ ]:
df.description[100]

In [ ]:
#diatas itu kolom description berbentuk list, dijadikan string supaya bisa masuk ke fungsi di vectorize, tidak usah play kalo pakai CBOW
df['description'] = df['description'].apply(lambda x:' '.join(x))

In [ ]:
gensim.utils.simple_preprocess('DB DEBIT DOMESTIK TANGGAL :01/02 TRN DEBIT DOM 022 COFFEE CLUB-PS 5260512022037574')

['db',
 'debit',
 'domestik',
 'tanggal',
 'trn',
 'debit',
 'dom',
 'coffee',
 'club',
 'ps']

In [ ]:
df.head()

                                         description bank_name  category
0  [briva, nbmbtiktok, shop, briva, nbmbtiktok, s...       BRI  Shopping
1  [briva, nbmbbukalapak, an, radit, briva, nbmbb...       BRI  Shopping
2                          [briva, briva, esb, nbmb]       BRI  Shopping
3        [briva, nbmbovo, briva, nbmbovo, esb, nbmb]     BRImo    Top Up
4  [briva, nbmbdnid, binxxxx, briva, nbmbdnid, bi...       BRI    Top Up

In [ ]:
df.to_csv('lihat.csv', index=False)

In [ ]:
df.category.value_counts()

# Missing values

In [ ]:
df.isnull().sum() #cek yang NaN

description       0
bank_name      1700
category          0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4684 entries, 0 to 4683
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  4684 non-null   object
 1   bank_name    2984 non-null   object
 2   category     4684 non-null   object
dtypes: object(3)
memory usage: 109.9+ KB

# Membuat datafreme baru untuk word2vec (FAIL)

In [ ]:
corpus = df['description'].values

In [ ]:
vectorize = CountVectorizer()
des = vectorize.fit_transform(corpus)

In [ ]:
des

<4684x5276 sparse matrix of type '<class 'numpy.int64'>'
	with 23205 stored elements in Compressed Sparse Row format>

In [ ]:
CountVectorizedData = pd.DataFrame(des.toarray(), columns = vectorize.get_feature_names_out())
CountVectorizedData['category'] = df['category']
print(CountVectorizedData.shape)
CountVectorizedData.head()

(4684, 5277)

,aa,aak,aalecjid,aaron,ab,abad,abadi,abdi,abel,abu,...,zocco,zone,zoo,zoomoov,zorojoy,zr,zw,zxxxxxxxxxa,zy,category
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Shopping
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Shopping
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Shopping
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Top Up
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Top Up

In [ ]:
GoogleModel = gensim.models.KeyedVectors.load_word2vec_format('/Users/farukh/Downloads/GoogleNews-vectors-negative300.bin', binary=True,)

# Feature dan target

In [ ]:
X, y = df['description'].values, df['category'].values

In [ ]:
X

array([list(['briva', 'nbmbtiktok', 'shop', 'briva', 'nbmbtiktok', 'shop', 'esb', 'nbmb']),
       list(['briva', 'nbmbbukalapak', 'an', 'radit', 'briva', 'nbmbbukalapak', 'esb', 'nbmb']),
       list(['briva', 'briva', 'esb', 'nbmb']), ...,
       list(['ayu', 'larasati', 'studio']), list(['zego', 'studio']),
       list(['go', 'pay', 'payment', 'altari', 'foto', 'studio'])],
      dtype=object)

In [ ]:
y

array(['Shopping', 'Shopping', 'Shopping', ..., 'Entertainment',
       'Entertainment', 'Entertainment'], dtype=object)

# Split data

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
print(f'X_train : {X_train.shape}')
print(f'X_test  : {X_test.shape}')
print(f'y_train : {y_train.shape}')
print(f'y_test  : {y_test.shape}')

X_train : (3747,)
X_test  : (937,)
y_train : (3747,)
y_test  : (937,)

# CBOW

In [ ]:
sentences = [list(x) for x in df['description'].tolist()]
sentences

In [ ]:
model_cbow = Word2Vec(sentences, vector_size=100, window=2, min_count=1, workers=4, sg=0)

In [ ]:
model_cbow

In [ ]:
vocab_cbow = list(model_cbow.wv.vocab)
print(vocab_cbow)

In [ ]:
X_cbow = df['description'].apply(lambda x: [model_cbow.wv[word] for word in x]) #ini untuk memasukkan hasil model CBOW ke fitur

In [ ]:
df['description_vectors'] = df['description'].apply(lambda x: [model_cbow.wv[word] for word in x])

In [ ]:
print(X_cbow[0]) #mengecek model cbow yang dimasukkan ke X_cbow

In [ ]:
df['description_vectors']

In [ ]:
df['description'][1]

['briva',
 'nbmbbukalapak',
 'an',
 'radit',
 'briva',
 'nbmbbukalapak',
 'esb',
 'nbmb']

In [ ]:
type(X_cbow)

pandas.core.series.Series

In [ ]:
vector = model_cbow.wv['tokopedia'] #mengecek sebuah kata dalam vektor model CBOW
print(vector)

[-1.13578495e-02  1.59950405e-02  3.84537270e-03  1.42538426e-02
 -5.21254400e-03 -2.01462749e-02  1.59830358e-02  3.32118906e-02
 -1.43548995e-02 -1.09701427e-02 -1.47736957e-02 -2.80745551e-02
 -6.96754409e-03  1.42681496e-02  1.44134406e-02 -1.22182006e-02
 -5.05999895e-03 -1.20413294e-02  3.80124478e-03 -3.39956656e-02
  1.66343600e-02  1.17644807e-02  8.39305390e-03 -1.99594419e-03
  1.05312541e-02 -6.34480733e-04 -9.56498552e-03 -1.75205152e-02
 -2.40724180e-02  8.08097795e-03  1.41646555e-02 -1.86342828e-03
  1.65019149e-03 -2.55281106e-02 -1.99614074e-02  1.48931555e-02
  9.51848691e-04 -6.47259643e-03 -1.66155677e-03 -1.83633268e-02
  7.49882823e-03 -4.16691042e-03 -8.67287908e-03 -1.91867223e-03
  3.30545852e-04 -1.06026884e-02 -2.56922636e-02  2.69341795e-03
  2.13926402e-03  4.59699752e-03  1.10112103e-02 -1.51059907e-02
 -1.11504989e-02 -2.43966561e-03 -2.73351022e-03 -1.41053880e-03
  2.98242066e-02 -2.36654445e-03  3.21626081e-04  1.74383633e-03
 -1.08939428e-02  1.24706365e-02 -6.74081407e-03  3.93121410e-03
 -1.60584543e-02  2.42545479e-03 -3.49846925e-03  9.01224650e-03
 -2.71415189e-02  2.11614016e-02 -5.84874302e-03  4.29686904e-03
  1.42252818e-02 -1.18368706e-02  1.44021949e-02  7.04869116e-03
 -2.14638039e-02 -5.76492632e-03 -2.05019861e-02 -6.40081940e-03
 -5.07321814e-03 -2.91379023e-04 -1.71971191e-02  1.17471498e-02
  8.10015295e-03  2.85791775e-05 -2.72804219e-03 -3.58671229e-03
  1.65507048e-02  2.88168620e-03  2.58159116e-02  5.03703777e-04
 -2.06418545e-03  1.83804508e-03  1.92191545e-02  1.13880876e-02
 -3.30146239e-03 -5.39204385e-03  1.22740427e-02 -9.59506631e-03]

In [ ]:
X_cbow_np = np.array(X_cbow)

In [ ]:
df_coba = pd.DataFrame(X_cbow_np)

In [ ]:
df_coba[0][0]

In [ ]:
df_coba.to_csv('cek_vektor_cbow.csv', index=False)

In [ ]:
type(df['description_vectors'])

pandas.core.series.Series

In [ ]:
X_cbow_np = [list(doc) for doc in X_cbow]
X_cbow_np

In [ ]:
df['description_vectors'] = df['description_vectors'].to_numpy()

In [ ]:
 #teuing, suruh diubah dari list ke np.array ceunah
X_cbow_np = np.array(X_cbow)

In [ ]:
type(df['description_vectors'])

pandas.core.series.Series

In [ ]:
X_cbow_np[0]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_cbow_np, y, test_size=0.2, random_state=0)

In [ ]:
# Mengubah format vektor menjadi array numpy agar dapat digunakan dalam machine learning
X_train = [list(doc) for doc in X_train]
X_test = [list(doc) for doc in X_test]

In [ ]:
df['description_vectors'].head()

0    [[-0.052733745, 0.06107092, 0.030073402, 0.061...
1    [[-0.052733745, 0.06107092, 0.030073402, 0.061...
2    [[-0.052733745, 0.06107092, 0.030073402, 0.061...
3    [[-0.052733745, 0.06107092, 0.030073402, 0.061...
4    [[-0.052733745, 0.06107092, 0.030073402, 0.061...
Name: description_vectors, dtype: object

## BOW

In [ ]:
#vectorize sebelum di fit
v = CountVectorizer()
X_cv = v.fit_transform(X)
X_cv

<4684x5276 sparse matrix of type '<class 'numpy.int64'>'
	with 23205 stored elements in Compressed Sparse Row format>

In [ ]:
 #displit dulu baru di countvectorize
 v = CountVectorizer()
 X_train_cv = v.fit_transform(X_train)
 X_train_cv

<3747x4569 sparse matrix of type '<class 'numpy.int64'>'
	with 18528 stored elements in Compressed Sparse Row format>

In [ ]:
#displit dulu baru di countvectorize
X_test_cv = v.fit_transform(X_test)
X_test_cv

<937x1734 sparse matrix of type '<class 'numpy.int64'>'
	with 4677 stored elements in Compressed Sparse Row format>

In [ ]:
X_train_cv[100].toarray()
X_test_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
#split yang udah di vectorize
X_train, X_test, y_train, y_test = train_test_split(X_cv, y, test_size = 0.2, random_state = 0)

X_train : (3747,)
X_test  : (937,)
y_train : (3747,)
y_test  : (937,)
==============================

In [ ]:
v.get_feature_names_out().shape #mengecek

(5276,)

In [ ]:
v.vocabulary_ #mengecek semua kata unik

In [ ]:
X_train_np = X_train_cv.toarray()
X_train_np

In [ ]:
X_test_np = X_train_cv.toarray()
X_train_np[:1][0]

# Test Shape

In [ ]:
print(f'X_train : {X_train.shape}')
print(f'X_test  : {X_test.shape}')
print(f'y_train : {y_train.shape}')
print(f'y_test  : {y_test.shape}')
print('==============================')
#print(f'X_test_cv : { X_test_cv.shape}')
#print(f'X_train_cv  : {X_train_cv.shape}')

X_train : (3747,)
X_test  : (937,)
y_train : (3747,)
y_test  : (937,)
==============================

In [ ]:
#mengecek panjang fitur
length_dict = {}

for sequence in X_train:
    length = len(sequence)
    if length in length_dict:
        length_dict[length] += 1
    else:
        length_dict[length] = 1

print(length_dict)

{7: 288, 12: 25, 5: 737, 2: 421, 4: 488, 6: 590, 1: 288, 8: 199, 9: 179, 13: 20, 3: 303, 14: 3, 11: 64, 10: 130, 0: 6, 15: 3, 16: 1, 17: 1, 18: 1}

# Naive Bayes

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train, y_train)
#model.fit(X_cbow_np, y)

ValueError: ignored

In [ ]:
from sklearn.metrics import classification_report
y_pred = model.predict(X_test)

print(classification_report(y_test, y_pred))

                           precision    recall  f1-score   support

            Beauty & Care       0.77      0.40      0.52        43
       Books & Stationery       0.00      0.00      0.00         6
                 Car Loan       0.00      0.00      0.00         2
          Cash Withdrawal       1.00      0.73      0.84        11
              Credit Card       0.00      0.00      0.00         6
                  Dentist       0.00      0.00      0.00         2
        Donation & Social       1.00      0.32      0.48        19
                Education       0.00      0.00      0.00         2
Electricity & Water Bills       1.00      0.25      0.40         4
            Entertainment       0.00      0.00      0.00        16
                 Eye Care       1.00      0.20      0.33         5
                  Fashion       0.32      0.11      0.16        54
           Fees & Charges       0.81      0.87      0.84        15
             Food & Drink       0.59      0.98      0.74       395
     Gadget & Electronics       1.00      0.31      0.47        13
               Gas & Fuel       1.00      0.05      0.10        19
                    Gifts       0.49      0.90      0.63        20
      Groceries & General       0.92      0.32      0.48        34
         Health & Medical       0.67      0.37      0.47        38
              Home / Rent       0.75      0.43      0.55         7
          Household Tools       0.00      0.00      0.00         6
                Insurance       1.00      0.22      0.36         9
               Investment       0.24      0.85      0.38        20
                     Kids       1.00      0.08      0.15        12
                  Laundry       1.00      0.14      0.25         7
                     Loan       0.67      0.27      0.38        30
                     Pets       0.00      0.00      0.00         7
                Printshop       0.00      0.00      0.00         1
         Public Transport       0.00      0.00      0.00         3
     Service & Auto Parts       0.60      0.18      0.27        17
           Services Needs       0.00      0.00      0.00         5
                 Shipping       0.00      0.00      0.00        12
                 Shopping       1.00      0.10      0.18        10
                   Sports       1.00      0.08      0.15        12
             Subscription       0.67      0.15      0.25        13
                    Taxes       0.00      0.00      0.00         1
     Telephone & Internet       0.59      0.42      0.49        24
                   Top Up       0.50      0.29      0.36         7
                Transport       0.83      0.56      0.67         9
                   Travel       1.00      0.33      0.50        21

                 accuracy                           0.59       937
                macro avg       0.54      0.25      0.29       937
             weighted avg       0.62      0.59      0.52       937

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
coba = ['db debit domestik tanggal trn debit dom coffee club ps']

percobaan = v.transform(coba)
model.predict(percobaan)

array(['Food & Drink'], dtype='<U25')

# Gaussian Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

ValueError: ignored

# KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import classification_report
y_pred = knn_model.predict(X_test)

print(classification_report(y_test, y_pred))

                           precision    recall  f1-score   support

            Beauty & Care       0.11      0.74      0.20        43
       Books & Stationery       0.00      0.00      0.00         6
                 Car Loan       1.00      0.50      0.67         2
          Cash Withdrawal       0.88      0.64      0.74        11
              Credit Card       0.00      0.00      0.00         6
                  Dentist       0.00      0.00      0.00         2
        Donation & Social       0.17      0.05      0.08        19
                Education       0.00      0.00      0.00         2
Electricity & Water Bills       0.08      0.25      0.12         4
            Entertainment       0.19      0.19      0.19        16
                 Eye Care       0.00      0.00      0.00         5
                  Fashion       0.11      0.13      0.12        54
           Fees & Charges       0.86      0.40      0.55        15
             Food & Drink       0.80      0.63      0.71       395
     Gadget & Electronics       0.71      0.38      0.50        13
               Gas & Fuel       0.49      0.89      0.63        19
                    Gifts       0.62      0.80      0.70        20
      Groceries & General       0.42      0.50      0.46        34
         Health & Medical       0.47      0.21      0.29        38
              Home / Rent       0.75      0.43      0.55         7
          Household Tools       0.50      0.17      0.25         6
                Insurance       0.67      0.22      0.33         9
               Investment       0.38      0.50      0.43        20
                     Kids       1.00      0.08      0.15        12
                  Laundry       0.50      0.14      0.22         7
                     Loan       0.60      0.20      0.30        30
                     Pets       0.00      0.00      0.00         7
                Printshop       0.00      0.00      0.00         1
         Public Transport       0.00      0.00      0.00         3
     Service & Auto Parts       0.60      0.18      0.27        17
           Services Needs       0.00      0.00      0.00         5
                 Shipping       1.00      0.25      0.40        12
                 Shopping       0.67      0.20      0.31        10
                   Sports       1.00      0.08      0.15        12
             Subscription       0.75      0.23      0.35        13
                    Taxes       1.00      1.00      1.00         1
     Telephone & Internet       0.50      0.17      0.25        24
                   Top Up       0.67      0.57      0.62         7
                Transport       1.00      0.33      0.50         9
                   Travel       0.71      0.24      0.36        21

                 accuracy                           0.45       937
                macro avg       0.48      0.28      0.31       937
             weighted avg       0.61      0.45      0.48       937

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
coba = ['db debit domestik tanggal trn debit dom coffee club ps']

percobaan = v.transform(coba)
knn_model.predict(percobaan)

array(['Food & Drink'], dtype=object)